.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)
    .row 
      .span12
        - unless @users.empty?
          %table.data.user-table.zebra
            %tbody
              %tr  
                %th.list-title name
                %th.num posts
                %th.num hearts
                %th.num following
                %th.num followers
                %th
              - for user in @users
                = render :partial=> 'shared/table_user', :locals => { :table_user => user }

          = paginate @users
      .span4
        .sidebar
          %h5 Sidebar
          %ul
            = render "follow_form"
          %h5 Sidebar
          %ul
            %li <a href="#">Link</a>
    = render 'layouts/footer'
