<div id = "wrapper">   
   <div id = "wrap-inner">
      <div id="content" class="group">
         <div id="main">        
            <h1>
              <%= gravatar_for @user %>
              <%= @user.name %>
            </h1>
            <%= render 'follow_form' if signed_in? %>  
            <% unless @user.microposts.empty? %>
             <div class="posts group" summary="User posts">
               
               <% @item_count = 0 %>
                 <% for micropost in @microposts %>
                   <% @item_count = @item_count + 1 %>
                   <%= render micropost %>
                 <% end %>
             </div>
             <%= will_paginate @microposts %>
           <% end %>
         </div>
         <div id="sidebar">
            <strong>Name</strong> <%= @user.name %><br />
              <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
              <strong>Microposts</strong> <%= @user.microposts.count %>
              <%= render 'shared/stats' %>
         </div>                  
      </div>
   </div> 
</div>