.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)
    .row 
      .span12
        .profile.clearfix
          = gravatar_for @user, :size => 48 
          %h1 
            = @user.name          
          .details
          = render "follow_form"           
        
        - unless @posts.empty?
          %ul.media-grid
            - for post in @posts
              = render post
          = paginate @posts
        - else
          %h3 No Hearts!
      .span4
        .sidebar  
          %h5 Following  
          = render 'shared/following'
    = render 'layouts/footer'   
    

