.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)
    .row 
      .span12.main
        .profile.clearfix
          = gravatar_for @user, :size => 48 
          %h1 
            = @user.name          
          .details
          = render "follow_form"           
        
        - unless @user.posts.empty?
          %ul.media-grid.posts
            - for post in @posts
              = render post
          = paginate @posts
        - else
          %h3 No Posts!
      .span4.sidebar            
        %h5 Following  
        = render 'shared/following'
        -unless :actions == "hearts"
          %h5 Favorites
          = render 'shared/hearts'
    = render 'layouts/footer'

    