.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)
    .row 
      .span12
        .row
          %h2 
            = gravatar_for @user, :size => 48
            = @user.name          
        .row
          - unless @user.posts.empty?
            %ul.media-grid
              - for post in @posts
                = render post
            = paginate @posts
          - else
            %h3 No Posts!
      .span4
        .sidebar  
          %h2 Sidebar
          %ul
            = render "follow_form"
            
          %ul
            %li <a href="#">Link</a>
    = render 'layouts/footer'

    