<tr>
   <td class="user">
      <%= gravatar_for table_user, :size => 30 %>
      <%= link_to table_user.name, table_user %>
   </td>
   <td class="num posts">
      <%= link_to table_user.posts.count, table_user %>
   </td>
   <td class="num hearts">
      <%= link_to table_user.hearts.count, hearts_user_path(table_user) %>
   </td>
   <td class="num follows">
      <%= link_to table_user.following.count, following_user_path(table_user) %>
   </td>
   <td class="num followers">
      <%= link_to table_user.followers.count, followers_user_path(table_user) %>
   </td>    
   <td class="follow"> 

      <% unless current_user?(table_user) %>
        <% if current_user.following?(table_user) %>
          <%= link_to "unfollow", { :id=>table_user.id, :controller => :relationships, :action => "destroy"},:method=>:delete, :"data-followed-id"=>table_user.id, :remote => true %>
        <% else %>
          <%= link_to "follow", { :id=>table_user.id, :controller => :relationships, :action => "create"},:method=>:post, :"data-followed-id"=>table_user.id, :remote => true %>
        <% end %>
      <% end %>
   </td>
   
</tr>