<div class ="post-title group full">             
   <a href="<%= user_path(@post.user) %>"><%= gravatar_for @post.user, :size => 48 %></a>
   <h1><%= @post.title %></h1>                
   
    <div class="post-byline">   
      <span class="post-byline-user">
         by <a href="<%= user_path(@post.user) %>"><%= @post.user.name %></a>
       </span>       
     </a> 
     <div class="post-date"><span class="sep">|</span><%= l @post.created_at, :format=>:long  %></div>
    </div>
</div>
