<% if (@item_count % 3) == 0 %>
<div class="post group third">
<% else %>
<div class="post group">
<% end %>   
 <div id="image" class="group">
    <span id="avatar"><%= link_to gravatar_for(post.user), post.user %></span>    
    <div id="image_details">
        <div class="left">              
              <span id="title"><%= link_to post.title, post_path(post) %></span>
              <span id="author"><%= link_to post.user.name, post.user %></span>
        </div>
       <% if current_user && current_user.heart?(post) %>
       <span id="hearts" class="hearted right"><%= post.hearts.count %></span>
       <% else %>
       <span id="hearts" class="unhearted right"><%= post.hearts.count %></span>
       <% end %>
    </div>
    <%= link_to image_tag(post.image_url(:thumb).to_s, :alt=> post.title),post_path(post)  %> 
    </a>
  </div>
</div>

