.container
  .content
    = render "shared/flash_messages"
    = render "shared/signup_message"
    .row 
      .span12.main
        = render "shared/feed_posts"
      .span4.sidebar
        = render "shared/popular_tags"
        = render "shared/top_users"
    = render 'layouts/footer'     
    
                     