.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)
    .row 
      .span12
        - unless @posts.empty?
          - if @title
            %h2 
              = @title
          %ul.media-grid
            - for post in @posts
              = render post
        - else
          %p No Posts!
      .span4
        .sidebar
          %h5 Popular Tags
          .row
            %ol.tags
              - for tag in @tags
                %li.tag
                  = link_to tag.name, { :action => :tag, :id => tag.name, :controller => :posts }
          %h5 Top Users
    = render 'layouts/footer'     
    
                     