.container-fluid
  .sidebar
    .well
      .post-author                            
        = gravatar_for @post.user, :size => 48
        = @post.user.name
      %hr
      .post-description
        = @post.content  
      %hr
      .hearts
        = pluralize(@post.hearts.count, "hearts")
  .content
    .row 
      .span16
        %h1 
          = @post.title
        = image_tag(@post.image_url, :alt=>@post.title)
      
    = render 'layouts/footer'