.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)                              
    .row 
      .span12
        %h1 
          = @post.title
        = image_tag(@post.image_url, :alt=>@post.title)
      .span4
        .sidebar
          .post-author                            
            = gravatar_for @post.user, :size => 48
            = @post.user.name
          %h5 Description
          .post-description
            = @post.content  
          %h5 Hearts
          .hearts
            = pluralize(@post.hearts.count, "hearts")
          - unless @post.tags.empty?
            %h5 Tags
            .row
              %ol.tags
                - for tag in @post.tags
                  %li.tag
                    = link_to tag.name, { :action => :tag, :id => tag.name, :controller => :posts }
    = render 'layouts/footer'