<div id = "wrapper">
   <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
   <% end %>
   <div id = "wrap-inner">
      <div id="content" class="group">
         <div id="main">        
            <%= render :partial => 'post_title' %>
            <div id = "post-image">
               <div id = "single">
                  <%= image_tag(@post.image, :alt=>@post.title) %>
               </div>  
            </div>
            <div id = "post-description"><%= @post.content %></div>
         </div>
         <div id="sidebar">
         </div>                  
      </div>
   </div> 
</div>
