<header class="group"> 
  <%= render 'shared/user_info' %>
  
  
  <nav>    
    <div id="controls">
      <div class="buttons">
         <% if signed_in? %>
         <%= link_to raw("<span>Feed</span>"), root_path,:class=>"simplebutton active",:id=>"feed" %>
         <%= link_to raw("<span>Users</span>"), users_path,:class=>"simplebutton",:id=>"users" %>
         <%= link_to raw("<span>Hearts</span"), hearts_user_path(current_user),:class=>"simplebutton",:id=>"hearts" %>
         <%= link_to raw("<span>Profile</span>"), current_user,:class=>"simplebutton",:id=>"profile" %> 
         <%= link_to raw("<span>Settings</span>"), edit_user_path(current_user),:class=>"simplebutton",:id=>"settings" %>
         <% end %>
         <% if signed_in? %>
         <%= link_to raw("<span>Sign out</span>"), signout_path, :method => :delete,:class=>"simplebutton noicon" %>
         <% else %>
         <%= link_to raw("<span>Sign in</span>"), signin_path,:class=>"simplebutton noicon" %>
         <% end %>
      </div>
    </div>
  </nav>
</header>
