<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <div id = "wrapper">         
         <div id = "wrap-inner">
            <% flash.each do |key, value| %>
                 <div class="flash <%= key %>"><%= value %></div>
            <% end %>
            <div id="content" class="group">
               
               <%= yield %>
               
            </div>
         </div> 
      </div>      
      <%= render 'layouts/footer' %>
  </body>
  
</html>